<div class="container">
 
    <div class="starter-template">

      <div class="row">      	

        <div class="col-md-12 mt-5">
            
       <form class="form" [formGroup]="contacto" (ngSubmit)="onSubmit()">
            <div class="title">
                <h2>{{ titulo }} </h2>
            </div>
                <div class="form-group">
                    <label>Nombres y Apellidos</label>
                    <input type="text" formControlName="nya" class="form-control" [ngClass]="{ 'is-invalid': submitted }" />
                    
                </div>                    
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted }" />
                   
                </div>
                <div class="form-group">
                    <label>Asunto</label>
                    <input type="text" formControlName="asunto" class="form-control" [ngClass]="{ 'is-invalid': submitted }" />
                    
                </div>
                <div class="form-group">
                            <label for="mensaje">Mensaje</label>
                            <textarea class="form-control" formControlName="mensaje" rows="3" [ngClass]="{ 'is-invalid': submitted}"></textarea>
                            
                          </div>

                    <button class="button">Aceptar</button>
    
            </form>

      </div>


  </div>

 </div>

</div>