<div *ngIf="product">
    <div class="crop-image">
        <img [src]="product.image" alt="imagen del producto">
    </div>
    <div>
        <ul>
            <li>Nombre: {{ product.title }}</li>
            <li>Precio: {{ product.price }}</li>
        </ul>
        <p>{{ product.description }}</p>
    </div>
    <button (click)="createProduct()">Crear producto</button>
    <button (click)="updateProduct()">Editar producto</button>
    <button (click)="deleteProduct()">Delete producto</button>
</div>
