<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Producto</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="class">
                <div class="col-xs">                 
                    <mat-form-field>
                        <input placeholder="Id" formControlName="id" matInput type="text">
                    </mat-form-field>
                </div>
            </div>
            <div class="class">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Title" formControlName="title" matInput type="text">
                    </mat-form-field>
                </div> 
            </div>
            <div class="class">
                <div class="col-xs">
                    <mat-form-field>
                        <input placeholder="Price" formControlName="price" matInput type="number">
                    </mat-form-field>
                         <div *ngIf="priceField!.errors && form.get('price')!.dirty">
                        <mat-error *ngIf="priceField!.hasError('price_invalid')">El precio es mas alto que el permitido, no te debes pasar de $100.000</mat-error>
                        <mat-error *ngIf="priceField!.hasError('required')">El campo es requerido</mat-error>
                    </div>
                </div>
            </div>
            <div class="class">
                <div class="col-xs">
                    <mat-form-field>
                        <textarea placeholder="Text" formControlName="description" matInput></textarea>
                    </mat-form-field> 
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button [disabled]="form.invalid" mat-raised-button type="submit">Gruardar</button>
        </mat-card-actions>
    </mat-card>
</form> 