<input type="text" [(ngModel)]="title">
{{ title }}
<br>
<br>
<div *ngIf="title === 'Marcia' ">
    este es un div
</div>

<button (click)="addItem()">Add item</button>

<ul>
    <li *ngIf="items.length === 0">La lista está vacía</li>
    <li *ngFor="let name of items; index as i">
        {{ name }} {{ i }}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>

<div *ngFor="let product of products">
    {{ product.title }}
    {{ product.price }}
    <img [src]="product.image" alt="" >
   
</div>