<input type="text" [(ngModel)]="title">
{{ title }}
<br>
<br>

<div *ngIf="title === 'Marcia' ">
    esta es Marcia
</div>

<div *ngIf="title === 'Gerónimo' ">
    este es Gerónimo
</div>

<div *ngIf="title === 'Adrián' ">
    este es Adrián
</div>

<div *ngIf="title === 'Samir' ">
    este es Samir
</div>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'Marcia'">Esta es Marcia</p>
    <p *ngSwitchCase="'Gerónimo'">Este es Gerónimo</p>
    <p *ngSwitchCase="'Adrián'">Este es Adrián</p>
    <p *ngSwitchCase="'Samir'">Este es Samir</p>
    <p *ngSwitchDefault>No está en la lista</p>
</div>

<button (click)="addItem()">Add item</button>

<ul>
    <li *ngIf="items.length === 0">La lista está vacía</li>
    <li *ngFor="let name of items; index as i">
        {{ name }} {{ i }}
        <button (click)="deleteItem(i)">Delete</button>
    </li>
</ul>

<div class="product-grid">
    <app-product 
    *ngFor="let product of products"
    (productClicked)="clickProduct($event)" 
    [product]="product">
</app-product>
</div>