<div class="products-grid">
    <div class="productsFor" *ngFor="let product of products">
            <div class="productTitle">
                <h3 >{{ product.title | uppercase }}</h3>
            </div>
            <img class="productImage" [src]="product.image"alt="" />
            <div class="productPrice">
                <strong>{{ product.price | currency:'COP$ ' }}</strong>
            </div>
            <p>{{product.description | slice: 0:15 }}</p>
        
            <button class="botonAgregar" >Agregar al carrito</button>
    </div>
</div>


