.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem 3rem;
}

.productsFor {
    margin: 2px;
    border-color: aqua;
    border-width: 10px 10px 10px 5px;
    border-style: solid groove solid;
    border-radius: 5px;
    background: -webkit-linear-gradient(left, #25c481, #25b7c4);
}



