// :host {
    
//     display: block ;
//     margin-top: 0px;
//     margin-bottom: 0px;
//     //text-align: center;
    
// }

.crop-image{
  height: 300px;
  width: 100%;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
}


/*
.productTitle {
    background-color: #188866;
    color: 	#FDF5E6;
    font-size: 1.4em;
    margin-inline: 30px;
    border-radius: 14px;
    text-align: center;
   
  }
  
  .productImage {
    position: relative;
    display: flex;
    justify-content: center;
  }

  .productPrice {
    background-color: #188866;
    color: 	#FDF5E6;
    border-radius: 14px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 3px;
    text-align: center;
  }
  */
  /*
  .botonAgregar {
    text-decoration: navajowhite; 
    font-weight: 600;
    font-size: 20px;
    color: #ffffff!important;
    background-color: #188866;
    border-radius: 6px;
    border: 2px
    solid #033a25;
  }
  */
