<mat-card>
    <mat-card-header>
        <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <div class="crop-image">
        <img class="productImage" [src]="product.image" alt="">
    </div>
    <mat-card-content>
        <p>{{ product.description | slice:0:10 }}</p>           
    </mat-card-content>
    <a mat-raised-button [routerLink]="['/products', product.id]">Ver detalle</a> 
    <mat-card-actions><button (click)="addCart()" mat-raised-button>Agregar al carrito</button></mat-card-actions>    
</mat-card>
<!--
<div class="productTitle">
    <h3 appHighlight>{{ product.title | uppercase }}</h3>
</div>
<img class="productImage" [src]="product.image" alt="">
<div class="productPrice">
    <strong>{{ product.price | currency }}</strong>
</div>
<p>{{ product.description | slice:0:10 }}</p>
<p>{{ today | date:'HH:mm' }}</p>
-->
